body{
    margin: 0px;
}

section{
    background-color:rgb(51, 177, 255);
    height: 20px;   
}

#menu-btn{
    text-align: center;
    margin: 0%;
}

li{
    list-style-type: none;   
    display: inline-block;
    font-size: 20px;
    color: white;
    padding: 1px 8px;
    border: orangered;
    border-radius: 10px;
    text-transform: uppercase;
    margin-top: 7px;
}
