body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

#menubar-background{
    background-color:rgb(51, 177, 255);
    height: 40px;   
}

#menu-btn{
    text-align: center;
    margin: 0%;
}

li{
    list-style-type: none;   
    display: inline-block;
    font-size: 20px;
    color: white;
    padding: 1px 8px;
    text-transform: uppercase;
    margin-top: 5px;
}

.banner-item{
    display: flex;
}

.half-width{
    color: rgb(70, 70, 70);
    width: 50%;
    height: auto;
    padding: 50px 50px 10px 150px;

    border: 2px solid violet;
}

.extra-padding{
    padding-top: 180px;
}

.extra-padding h1{
    font-weight: 700;
}

.half-width{
    font-size: 30px;
}

.half-width  span{
    color: coral;
}

.half-width img{
    width: 80%;
    /* height: 100%; */ 
}

.banner-btn{
    background-image: linear-gradient(to right,coral, orange);
    border-radius: 50px;
    text-decoration: none;
    padding: 10px 15px;
    color: white;
}

.banner-background-top{
    background-image: url(images/shapes/Frame\ 57.jpg);
}

.banner-background-mid{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}